.container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    &:hover {
        background-color: var(--gray003-color);
        cursor: pointer;
    }

    &.active {
        background-color: var(--gray006-color);
    }
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.username-container {
    display: flex;
    flex-direction: column;
    gap: 6px;

    & .username {
        font-size: 18px;
        font-weight: 500;
    }

    & .lastest-message {
        font-size: 14px;
        font-weight: 300;
    }
}
