.container {
    padding: 21px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;

    & .reply-container {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 0 6px 12px;

        & .reply-username {
            display: flex;
            align-items: center;
        }

        & .remove-reply-button {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }

    & .input {
        display: flex;
    }

    & .input-length {
        padding: 6px 0 0 12px;
        color: var(--gray05-color);

        &.max {
            color: var(--primary-color);
        }
    }
}
