.container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 6px 8px 8px;

    &:hover {
        background-color: var(--gray003-color);
    }
}

.image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.wrapper {
    flex: 1;
    margin-left: 12px;

    & .name {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;

        & svg {
            margin-left: 3px;
        }
    }

    & .username {
        color: var(--gray05-color);
        font-size: 14px;
    }
}

.container {
    &.md {
        & .image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        & .username {
            color: var(--gray05-color);
            font-size: 16px;
        }
    }
}
