.container {
    display: flex;
    background-color: var(--gray241-241-242-1-color);
    padding: 18px;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    gap: 18px;
}

.back-icon {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;

    &:hover {
        background-color: var(--gray003-color);
    }
}

.sidebar {
    background-color: white;
    width: var(--sidebar-width);
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    & .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px 0 24px;
        height: var(--navbar-height);

        & h3 {
            font-size: 24px;
            font-weight: bold;
            line-height: 28px;
        }

        & span {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    & .search-friend-container {
        padding: 0 10px 24px 10px;
    }

    & .friend-container {
        flex: 1;
        overflow-y: scroll;
    }
}

.content {
    background-color: white;
    flex: 1;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    display: flex;
    flex-direction: column;

    & .receiver-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 22px 8px 16px;
        box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;

        & .video-call-button {
            display: flex;
            align-items: center;
            padding: 8px;
            border-radius: 8px;

            &:hover {
                background-color: var(--gray006-color);
                cursor: pointer;
            }

            & svg {
                color: var(--primary-color);
            }
        }
    }

    & .message-container {
        flex: 1;
        overflow-y: scroll;
    }
}
