.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: calc(var(--post-width) / 3);
    width: 100%;
    padding: 8px 0;
    border-radius: 8px;

    &:first-child {
        margin-right: 5px;
    }

    &:last-child {
        margin-left: 5px;
    }

    & .icon {
        margin-right: 8px;
    }

    & .content {
        font-size: 18px;
        font-weight: 600;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--gray003-color);
    }
}
