.container {
    background-color: var(--gray248-248-248-color);
    overflow-y: scroll;
}

.wrapper {
    max-width: var(--layout-width);
    width: 100%;
    margin-top: var(--navbar-height);
    margin-left: auto;
    margin-right: auto;
}

.content {
    height: calc(100vh - var(--navbar-height));
    margin-top: 1px;
    margin-left: var(--sidebar-width);
}

.download-app {
    position: fixed;
    bottom: 12px;
    right: 24px;
    box-shadow: 1px 1px 1px var(--gray012-color);
    border-radius: 20px;
    padding: 5px 8px;
    color: var(--gray075-color);
    font-size: 14px;
    font-weight: bold;
    border: 1px solid var(--gray012-color);
    background-color: white;

    &:hover {
        cursor: pointer;
        border-color: var(--gray03-color);
    }
}
