.container {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.root-comment {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.avatar {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}

.username {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    gap: 10px;

    & .author {
        color: var(--primary-color);
        font-size: 15px;
    }

    & .fullname {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.comment-content {
    font-size: 18px;
}

.action-container {
    padding: 2px 0;
    display: flex;
    align-items: center;

    & span {
        color: var(--gray05-color);
    }

    & .reply-button {
        color: var(--gray05-color);
        margin-left: 10px;
        font-size: 16px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.child-comment {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
