.container {
    display: flex;
    align-items: center;
    max-width: 70%;
    width: 100%;
    gap: 10px;
    align-items: flex-start;

    & .avatar {
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
    }

    & .content {
        background-color: var(--gray006-color);
        height: fit-content;
        padding: 11px;
        border-radius: 3vh;
        word-break: break-all;
        flex: 1;
    }

    &.send {
        align-self: flex-end;

        & .avatar {
            display: none;
        }

        & .content {
            background-color: var(--primary-color);
            color: white;
        }
    }
}
