.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: white;
    height: min(100% - 96px, 570px);
    max-width: var(--auth-pages-width);
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    border-radius: 50%;
    background-color: var(--gray003-color);
    align-self: flex-end;
    padding: 10px;
    margin-top: 15px;
    margin-right: 15px;
    display: flex;
}

.content {
    overflow-y: overlay;
    width: 100%;
    height: 100%;
    padding: 0 54px;
}

.bottom-info {
    justify-self: flex-end;
    border-top: 1px solid var(--gray012-color);
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    padding: 20px 0;

    & .bottom-link {
        color: var(--primary-color);
        margin-left: 5px;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}
