.container {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    transition: all ease-in-out 200ms;
    overflow-y: scroll;

    & p {
        //ml-2 text-[18px] leading-[25px] font-bold
        margin-left: 8px;
        font-size: 18px;
        line-height: 25px;
        font-weight: bold;
    }

    &.active {
        color: var(--primary-color);

        & svg {
            fill: var(--primary-color);
        }
    }

    &:hover {
        background-color: var(--gray003-color);
        border-radius: 5px;
    }
}
