.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(243, 243, 244, 0.5);
    top: 0;
    left: 0;
    z-index: 1000;
}

.wrapper {
    width: 600px;
    background-color: white;
    height: fit-content;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid var(--gray241-241-242-1-color);

    & span {
        display: flex;
        align-items: center;
        cursor: pointer;

        & svg {
            height: 35px;
            width: 35px;
        }
    }

    & p {
        font-size: 22px;
        font-weight: bold;
        flex: 1;
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

    & button {
        margin-top: 10px;
    }
}
