@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navlink {
        @apply flex items-center p-[12px] hover:bg-gray003 transition ease-in-out 
        delay-100;
    }

    .navlink-active {
        @apply flex items-center p-[12px] hover:bg-gray003 text-primary transition 
        ease-in-out delay-100;
    }

    .btn {
        @apply rounded-[2px] flex items-center justify-center cursor-pointer;
    }

    .primary {
        @apply bg-primary text-white1 font-bold py-[6px] px-[8px] 
        hover:bg-hoverPrimary rounded-[4px];
    }

    .default {
        @apply border-[1px] border-gray012 hover:bg-gray003;
    }

    .outlined {
        @apply border-[1px] border-primary hover:bg-hoverPink rounded-[4px]
        text-primary;
    }

    .lg {
        @apply w-full text-[18px] min-h-[48px] font-semibold leading-[25px];
    }

    .md {
        @apply min-w-[100px] h-[36px];
    }

    .sm {
        @apply h-[28px] min-w-[88px];
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(22, 24, 35, 0.12);
    border-radius: 10px;
}
