@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(22, 24, 35, 0.12);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    position: absolute;
    right: -3rem;
    top: -50rem;
    /* background: transparent; */
}
