.container {
    width: var(--search-width);
    height: var(--search-height);
    background-color: var(--gray241-241-242-1-color);
    display: flex;
    align-items: center;
    border-radius: 92px;
    border: 1px solid transparent;

    &:focus-within {
        border-color: var(--gray03-color);
    }
}

.search-result {
    width: var(--search-width);
    z-index: 999;
    background-color: var(--white1-color);
    box-shadow: var(--gray012-color) 0px 2px 12px;
    border-radius: 10px;

    & .search-title {
        padding: 5px 12px;
        font-size: 14px;
        font-weight: 600;
        color: var(--gray05-color);
    }
}

.input {
    flex: 1;
    background-color: transparent;
    border-top-left-radius: 92px;
    border-bottom-left-radius: 92px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 12px;
    caret-color: var(--primary-color);
    line-height: 22px;

    &::placeholder {
        color: var(--gray06-color);
    }

    &:focus {
        outline: none;
    }
}

.divide {
    height: 28px;
    width: 1px;
    background-color: var(--gray012-color);
}

.icon {
    padding: 12px 16px 12px 12px;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;

    &:hover {
        background-color: var(--gray003-color);
        cursor: pointer;
    }

    & svg {
        fill: var(--gray034-color);
    }

    &.active {
        & svg {
            fill: var(--gray075-color);
        }
    }
}

.loading {
    margin: 0 12px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    align-items: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
