.container {
    display: flex;
    border-radius: 92px;
    background-color: var(--gray006-color);
}

.input {
    border-radius: 5px;
    caret-color: var(--primary-color);
    padding: 12px 20px;
    font-size: 16px;
    flex: 1;
    background-color: transparent;
    border-color: var(--gray012-color);
    border-radius: 92px;
}
