.container {
    z-index: 1;
    position: fixed;
    height: calc(100vh - var(--navbar-height));
    max-width: var(--sidebar-width);
    width: 100%;
    margin-top: 1px;
    padding-top: 20px;
    padding-left: 8px;
    padding-bottom: 26px;
    overflow: hidden;

    padding-right: 18px;

    &:hover {
        overflow-y: overlay;
        overflow-x: hidden;
        overscroll-behavior-y: contain;
    }
}

.user-detail-link {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    transition: all ease-in-out 200ms;

    & .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    & p {
        margin-left: 8px;
        font-size: 18px;
        line-height: 25px;
        font-weight: bold;
    }

    &:hover {
        background-color: var(--gray003-color);
        border-radius: 5px;
    }
}

.login {
    border-top: 0.5px solid var(--gray012-color);
    border-bottom: 0.5px solid var(--gray012-color);
    padding: 20px 0 25px 0;
    margin-left: 8px;
    // margin-right: 10px;
    margin-top: 5px;

    & p {
        font-size: 16px;
        line-height: 22px;
        color: var(--gray05-color);
        padding-bottom: 20px;
    }
}

.suggested-accounts {
    color: var(--gray075-color);
    padding: 0 8px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
    margin-bottom: 10px;
    font-weight: 600;
}

.see-all-button {
    //text-primary font-[14px] px-2 cursor-pointer
    //                     font-semibold mb-[20px]
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    padding: 5px 8px 0 8px;
}
