.user-detail-link {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    transition: all ease-in-out 200ms;

    & .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    & p {
        margin-left: 8px;
        font-size: 18px;
        line-height: 25px;
        font-weight: bold;
    }

    &:hover {
        background-color: var(--gray003-color);
        border-radius: 5px;
    }

    & svg {
        margin-left: 3px;
    }
}
