.container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 6px 6px 8px;

    &:hover {
        background-color: var(--gray003-color);
    }
}

.image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.wrapper {
    flex: 1;
    margin-left: 12px;

    & .name {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.5px;

        & svg {
            margin-left: 3px;
        }
    }

    & .username {
        color: var(--gray05-color);
        font-size: 12px;
    }
}
